---
http_interactions:
- request:
    method: get
    uri: http://travis-ci.org/repositories.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"cac1c83f190f673eec76c24a946d585f"'
    body:
      encoding: US-ASCII
      string: ! '[{"id":9631,"slug":"jordansissel/fpm","description":"Effing package
        managers! Build packages for multiple platforms (deb, rpm, etc) with great
        ease and sanity.","last_build_id":1629540,"last_build_number":"68","last_build_status":null,"last_build_result":null,"last_build_duration":null,"last_build_language":null,"last_build_started_at":"2012-06-15T16:59:16Z","last_build_finished_at":null},{"id":12532,"slug":"Schlaefer/Saito","description":"Threaded
        web forum written atop of CakePHP","last_build_id":1629538,"last_build_number":"112","last_build_status":1,"last_build_result":1,"last_build_duration":32,"last_build_language":null,"last_build_started_at":"2012-06-15T16:58:48Z","last_build_finished_at":"2012-06-15T16:59:20Z"},{"id":15217,"slug":"Vizzuality/gfw","description":"Global
        Forest Watch 2.0","last_build_id":1629535,"last_build_number":"219","last_build_st[...]
- request:
    method: get
    uri: http://travis-ci.org/jordansissel/fpm/builds.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html
      Status:
      - 301 Moved Permanently
      Location:
      - http://travis-ci.org/#!/jordansissel/fpm/builds
    body:
      encoding: US-ASCII
      string: <html><body>You are being <a href="http://travis-ci.org/#!/jordansissel/fpm/builds">redirected</a>.</body></html>
  recorded_at: Fri, 15 Jun 2012 16:59:36 GMT
- request:
    method: get
    uri: http://travis-ci.org/
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"b9afb63945192d216babd11e319685ff"'
    body:
      encoding: US-ASCII
      string: ! "<!DOCTYPE html>\n<html lang=\"en\">\n  <head><script type=\"text/javascript\">var
        NREUMQ=NREUMQ||[];NREUMQ.push([\"mark\",\"firstbyte\",new Date().getTime()]);</script>\n
        \   <meta charset=\"utf-8\">\n    <title>Travis CI - Distributed build platform
        for the open source community</title>\n    <meta name=\"description\" content=\"Travis
        CI is a hosted continuous integration service for open source projects. It
        supports Ruby, PHP, Python, Java, Node.js, and many more.\">\n    <meta name=\"csrf-token\"
        content=\"XWlaH87FME3op1Riooq8p33rfnCTP0WY0V36AG0jdOo=\">\n    <meta name=\"viewport\"
        content=\"width=device-width, initial-scale=1.0\">\n    <link rel=\"icon\"
        type=\"image/png\" href=\"/favicon.ico\">\n\n    <link href=\"http://travis-assets.herokuapp.com/d23e876f/stylesheets/application.css\"
        media=\"screen\" rel=\"stylesheet\" type=\"text/css\" />\n\n\n\n<script src=\"http://travis-assets.herokuapp.com/d23e876f/javascripts/application.js\"
        type=\"text/javascript\"></script>\n\n\n<script type=\"text/javascript\">\n
        \ I18n.defaultLocale = \"en\";\n  I18n.locale = \"en\";\n  I18n.fallbacks
        = true;\n\n  var env = Travis.env = 'production';\n  var pusher = new Pusher('23ed642e81512118260e');\n\n
        \ Travis.assets = {\n    host:    'travis-assets.herokuapp.com',\n    version:
        'd23e876f'\n  };\n</script>\n\n\n    \n  </head>\n\n  <body id=\"home\">\n
        \   <div id=\"top\">\n  <a href=\"/\"><h1>Travis</h1></a>\n\n  <ul id=\"navigation\">\n
        \   <li class=\"current\"><a href=\"/\">Home</a></li>\n    <li><a href=\"/stats\">Stats</a></li>\n
        \   <li><a href=\"http://about.travis-ci.org/blog\">Blog</a></li>\n    <li><a
        href=\"http://about.travis-ci.org/docs\">Docs</a></li>\n  </ul>\n\n  <div
        class=\"profile\">\n      <a href=\"/users/auth/github\" class=\"profile-signup\"
        id=\"sign_in\">Sign in with GitHub</a>\n  </div>\n\n</div>\n\n    <div id=\"left\">\n
        \ <div id=\"search_box\">\n    <!-- input type=\"text\" /-->\n  </div>\n\n
        \ <ul class=\"tabs\">\n    <li id=\"tab_recent\" class=\"active\">\n      <h5><a
        href=\"#\">Recent</a></h5>\n      <div class=\"tab\"></div>\n    </li>\n    <li
        id=\"tab_search\">\n      <h5><a href=\"#\">Search</a></h5>\n      <div class=\"tab\"></div>\n
        \   </li>\n  </ul>\n</div>\n\n\n\n    <div id=\"main\">\n      \n    </div>\n\n
        \   <div id=\"right\" class=\"maximized\">\n  <div class=\"slider\"><div class='icon'></div>&nbsp;</div>\n
        \ <div class=\"inner\"><div class='wrapper'>\n    <h4>Sponsors</h4>\n    <div
        class=\"sponsors top\"></div>\n    <p class=\"hint\"><a href=\"https://love.travis-ci.org/sponsors\">See
        all of our amazing sponsors &rarr;</a></p>\n    <div id=\"workers\"></div>\n
        \   <div id=\"jobs\"></div>\n    <div class=\"box\">\n      <h4>Sponsors</h4>\n
        \     <div class=\"sponsors bottom\"></div>\n    </div>\n    <div id=\"alpha_warning\"
        class=\"box\">\n  <h4>This stuff is alpha.</h4>\n  <p>Please do <strong>not</strong>
        consider this a stable service. We're still far from that! More info <a href='https://github.com/travis-ci'>here.</a></p>\n</div>\n<div
        id=\"about\" class=\"box\">\n  <h4>Join us and help!</h4>\n  <ul>\n    <li>Repository:
        <a href=\"http://github.com/travis-ci\">Github</a></li>\n    <li>Twitter:
        <a href=\"http://twitter.com/travisci\">@travisci</a></li>\n    <li>Mailing
        List: <a href=\"http://groups.google.com/group/travis-ci\">travis-ci</a></li>\n
        \   <li><a href=\"irc://irc.freenode.net#travis\">irc.freenode.net#travis</a></li>\n
        \ </ul>\n</div>\n\n  </div></div>\n</div>\n<div id=\"github\"><a href=\"https://github.com/travis-ci\"
        title=\"Fork me on GitHub\">Fork me on GitHub</a></div>\n\n\n\n    <div id=\"flash-messages\"></div>\n\n
        \   <script type=\"text/javascript\">\n  var _gaq = _gaq || [];\n  _gaq.push(['_setAccount',
       [...]
- request:
    method: get
    uri: http://travis-ci.org/Schlaefer/Saito/builds.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html
      Status:
      - 301 Moved Permanently
      Location:
      - http://travis-ci.org/#!/Schlaefer/Saito/builds
    body:
      encoding: US-ASCII
      string: <html><body>You are being <a href="http://travis-ci.org/#!/Schlaefer/Saito/builds">redirected</a>.</body></html>
  recorded_at: Fri, 15 Jun 2012 16:59:36 GMT
[...]
- request:
    method: get
    uri: http://travis-ci.org/Vizzuality/gfw/builds.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html
      Status:
      - 301 Moved Permanently
      Location:
      - http://travis-ci.org/#!/Vizzuality/gfw/builds
    body:
      encoding: US-ASCII
      string: <html><body>You are being <a href="http://travis-ci.org/#!/Vizzuality/gfw/builds">redirected</a>.</body></html>
  recorded_at: Fri, 15 Jun 2012 16:59:36 GMT
[...]
- request:
    method: get
    uri: http://travis-ci.org/racker/virgo/builds.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html
      Status:
      - 301 Moved Permanently
      Location:
      - http://travis-ci.org/#!/racker/virgo/builds
    body:
      encoding: US-ASCII
      string: <html><body>You are being <a href="http://travis-ci.org/#!/racker/virgo/builds">redirected</a>.</body></html>
  recorded_at: Fri, 15 Jun 2012 16:59:37 GMT
[...]
- request:
    method: get
    uri: http://travis-ci.org/isaacs/npm/builds.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html
      Status:
      - 301 Moved Permanently
      Location:
      - http://travis-ci.org/#!/isaacs/npm/builds
    body:
      encoding: US-ASCII
      string: <html><body>You are being <a href="http://travis-ci.org/#!/isaacs/npm/builds">redirected</a>.</body></html>
  recorded_at: Fri, 15 Jun 2012 16:59:38 GMT
[...]
- request:
    method: get
    uri: http://travis-ci.org/modilabs/bamboo/builds.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html
      Status:
      - 301 Moved Permanently
      Location:
      - http://travis-ci.org/#!/modilabs/bamboo/builds
    body:
      encoding: US-ASCII
      string: <html><body>You are being <a href="http://travis-ci.org/#!/modilabs/bamboo/builds">redirected</a>.</body></html>
  recorded_at: Fri, 15 Jun 2012 16:59:38 GMT
[...]
- request:
    method: get
    uri: http://travis-ci.org/patrickatamaniuk/redmine_backlogs/builds.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html
      Status:
      - 301 Moved Permanently
      Location:
      - http://travis-ci.org/#!/patrickatamaniuk/redmine_backlogs/builds
    body:
      encoding: US-ASCII
      string: <html><body>You are being <a href="http://travis-ci.org/#!/patrickatamaniuk/redmine_backlogs/builds">redirected</a>.</body></html>
  recorded_at: Fri, 15 Jun 2012 16:59:38 GMT
[...]
- request:
    method: get
    uri: http://travis-ci.org/Kolpa/kolpa.github.com/builds.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html
      Status:
      - 301 Moved Permanently
      Location:
      - http://travis-ci.org/#!/Kolpa/kolpa.github.com/builds
    body:
      encoding: US-ASCII
      string: <html><body>You are being <a href="http://travis-ci.org/#!/Kolpa/kolpa.github.com/builds">redirected</a>.</body></html>
  recorded_at: Fri, 15 Jun 2012 16:59:38 GMT
[...]
- request:
    method: get
    uri: http://travis-ci.org/pld/bamboo/builds.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html
      Status:
      - 301 Moved Permanently
      Location:
      - http://travis-ci.org/#!/pld/bamboo/builds
    body:
      encoding: US-ASCII
      string: <html><body>You are being <a href="http://travis-ci.org/#!/pld/bamboo/builds">redirected</a>.</body></html>
  recorded_at: Fri, 15 Jun 2012 16:59:39 GMT
[...]
- request:
    method: get
    uri: http://travis-ci.org/Seldaek/monolog/builds.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html
      Status:
      - 301 Moved Permanently
      Location:
      - http://travis-ci.org/#!/Seldaek/monolog/builds
    body:
      encoding: US-ASCII
      string: <html><body>You are being <a href="http://travis-ci.org/#!/Seldaek/monolog/builds">redirected</a>.</body></html>
  recorded_at: Fri, 15 Jun 2012 16:59:39 GMT
[...]
- request:
    method: get
    uri: http://travis-ci.org/heroku/heroku/builds.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html
      Status:
      - 301 Moved Permanently
      Location:
      - http://travis-ci.org/#!/heroku/heroku/builds
    body:
      encoding: US-ASCII
      string: <html><body>You are being <a href="http://travis-ci.org/#!/heroku/heroku/builds">redirected</a>.</body></html>
  recorded_at: Fri, 15 Jun 2012 16:59:39 GMT
[...]
- request:
    method: get
    uri: http://travis-ci.org/Binaergewitter/binaergewitter.github.com/builds.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html
      Status:
      - 301 Moved Permanently
      Location:
      - http://travis-ci.org/#!/Binaergewitter/binaergewitter.github.com/builds
    body:
      encoding: US-ASCII
      string: <html><body>You are being <a href="http://travis-ci.org/#!/Binaergewitter/binaergewitter.github.com/builds">redirected</a>.</body></html>
  recorded_at: Fri, 15 Jun 2012 16:59:39 GMT
[...]
- request:
    method: get
    uri: http://travis-ci.org/wr0ngway/log4r-exceptionable/builds.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html
      Status:
      - 301 Moved Permanently
      Location:
      - http://travis-ci.org/#!/wr0ngway/log4r-exceptionable/builds
    body:
      encoding: US-ASCII
      string: <html><body>You are being <a href="http://travis-ci.org/#!/wr0ngway/log4r-exceptionable/builds">redirected</a>.</body></html>
  recorded_at: Fri, 15 Jun 2012 16:59:39 GMT
[...]
- request:
    method: get
    uri: http://travis-ci.org/remomueller/reading/builds.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html
      Status:
      - 301 Moved Permanently
      Location:
      - http://travis-ci.org/#!/remomueller/reading/builds
    body:
      encoding: US-ASCII
      string: <html><body>You are being <a href="http://travis-ci.org/#!/remomueller/reading/builds">redirected</a>.</body></html>
  recorded_at: Fri, 15 Jun 2012 16:59:39 GMT
[...]
- request:
    method: get
    uri: http://travis-ci.org/adamd/z/builds.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html
      Status:
      - 301 Moved Permanently
      Location:
      - http://travis-ci.org/#!/adamd/z/builds
    body:
      encoding: US-ASCII
      string: <html><body>You are being <a href="http://travis-ci.org/#!/adamd/z/builds">redirected</a>.</body></html>
  recorded_at: Fri, 15 Jun 2012 16:59:40 GMT
[...]
- request:
    method: get
    uri: http://travis-ci.org/Kozea/WeasyPrint/builds.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html
      Status:
      - 301 Moved Permanently
      Location:
      - http://travis-ci.org/#!/Kozea/WeasyPrint/builds
    body:
      encoding: US-ASCII
      string: <html><body>You are being <a href="http://travis-ci.org/#!/Kozea/WeasyPrint/builds">redirected</a>.</body></html>
  recorded_at: Fri, 15 Jun 2012 16:59:40 GMT
[...]
- request:
    method: get
    uri: http://travis-ci.org/emberjs/ember.js/builds.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html
      Status:
      - 301 Moved Permanently
      Location:
      - http://travis-ci.org/#!/emberjs/ember.js/builds
    body:
      encoding: US-ASCII
      string: <html><body>You are being <a href="http://travis-ci.org/#!/emberjs/ember.js/builds">redirected</a>.</body></html>
  recorded_at: Fri, 15 Jun 2012 16:59:40 GMT
[...]
- request:
    method: get
    uri: http://travis-ci.org/icerider70/Type/builds.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html
      Status:
      - 301 Moved Permanently
      Location:
      - http://travis-ci.org/#!/icerider70/Type/builds
    body:
      encoding: US-ASCII
      string: <html><body>You are being <a href="http://travis-ci.org/#!/icerider70/Type/builds">redirected</a>.</body></html>
  recorded_at: Fri, 15 Jun 2012 16:59:40 GMT
[...]
- request:
    method: get
    uri: http://travis-ci.org/msimerson/qpsmtpd/builds.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html
      Status:
      - 301 Moved Permanently
      Location:
      - http://travis-ci.org/#!/msimerson/qpsmtpd/builds
    body:
      encoding: US-ASCII
      string: <html><body>You are being <a href="http://travis-ci.org/#!/msimerson/qpsmtpd/builds">redirected</a>.</body></html>
  recorded_at: Fri, 15 Jun 2012 16:59:41 GMT
[...]
- request:
    method: get
    uri: http://travis-ci.org/mrdavidlaing/pressupbox/builds.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html
      Status:
      - 301 Moved Permanently
      Location:
      - http://travis-ci.org/#!/mrdavidlaing/pressupbox/builds
    body:
      encoding: US-ASCII
      string: <html><body>You are being <a href="http://travis-ci.org/#!/mrdavidlaing/pressupbox/builds">redirected</a>.</body></html>
  recorded_at: Fri, 15 Jun 2012 16:59:41 GMT
[...]
- request:
    method: get
    uri: http://travis-ci.org/wr0ngway/log4r-gelf/builds.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html
      Status:
      - 301 Moved Permanently
      Location:
      - http://travis-ci.org/#!/wr0ngway/log4r-gelf/builds
    body:
      encoding: US-ASCII
      string: <html><body>You are being <a href="http://travis-ci.org/#!/wr0ngway/log4r-gelf/builds">redirected</a>.</body></html>
  recorded_at: Fri, 15 Jun 2012 16:59:41 GMT
[...]
- request:
    method: get
    uri: http://travis-ci.org/rnz0/rgeoserver/builds.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html
      Status:
      - 301 Moved Permanently
      Location:
      - http://travis-ci.org/#!/rnz0/rgeoserver/builds
    body:
      encoding: US-ASCII
      string: <html><body>You are being <a href="http://travis-ci.org/#!/rnz0/rgeoserver/builds">redirected</a>.</body></html>
  recorded_at: Fri, 15 Jun 2012 16:59:42 GMT
[...]
- request:
    method: get
    uri: http://travis-ci.org/magiclabs/alchemy_crm/builds.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html
      Status:
      - 301 Moved Permanently
      Location:
      - http://travis-ci.org/#!/magiclabs/alchemy_crm/builds
    body:
      encoding: US-ASCII
      string: <html><body>You are being <a href="http://travis-ci.org/#!/magiclabs/alchemy_crm/builds">redirected</a>.</body></html>
  recorded_at: Fri, 15 Jun 2012 16:59:42 GMT
[...]
- request:
    method: get
    uri: http://travis-ci.org/Pylons/Kotti/builds.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html
      Status:
      - 301 Moved Permanently
      Location:
      - http://travis-ci.org/#!/Pylons/Kotti/builds
    body:
      encoding: US-ASCII
      string: <html><body>You are being <a href="http://travis-ci.org/#!/Pylons/Kotti/builds">redirected</a>.</body></html>
  recorded_at: Fri, 15 Jun 2012 16:59:42 GMT
[...]
- request:
    method: get
    uri: http://travis-ci.org/lml/quadbase/builds.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html
      Status:
      - 301 Moved Permanently
      Location:
      - http://travis-ci.org/#!/lml/quadbase/builds
    body:
      encoding: US-ASCII
      string: <html><body>You are being <a href="http://travis-ci.org/#!/lml/quadbase/builds">redirected</a>.</body></html>
  recorded_at: Fri, 15 Jun 2012 16:59:42 GMT
[...]
